#logoimage{
  display: block;
      margin-left: auto;
      margin-right: auto;
      min-width: 300px;
}
#background{
  background-image: url("../images5/restaurant-shot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}
#button{

}
.cc{
  text-align: center;
}
