#first-heading{
   text-align: center;
   color: green;
   background-repeat: no-repeat;
   background-size: cover;
   background: fixed;
   background-image: url("../images5/restaurant.png");
}
#image1{
  text-align:center;
}
