#logoimage{
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 12%;
}
#background{
  background-image: url("../images/restaurant-shot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}
#button{

}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
