.container {
  background-color: lightgray;
  align-content: center;
  width: 100%;
}
#contform {
  align-content: center;
  background-color: lightblue;
  float: center;
}
#subject {
  text-align: center;
}
