#background{
    background-image: url(../images/coffee-cup-drink-notebook-table-dp-1366x768.jpg);
    background-size: 1365px;
}
#logo{
    text-align: center;
}
#about{
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    
}