body {
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
}

#head {
  font-family: Black Ops One;
  text-align: center;
}

#main {
  background-image: url("../images2/bg.jpg");

}

#margin {
  margin-left: 170px;
}

.col-center {
  margin: 0 auto;
  float: none;
}

.carousel {
  margin: 30px auto 60px;
  padding: 0 80px;
}

.carousel .item {
  text-align: center;
  overflow: hidden;
}

.carousel .item h4 {
  font-family: Patrick Hand;
}

.carousel .item img {
  max-width: 100%;
  display: inline-block;
}

.carousel .item .btn {
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: red;
  padding: 6px 15px;
  margin-top: 5px;
}

.carousel .item .btn:hover {
  background: #8c5bff;
}

.carousel .item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.carousel .thumb-wrapper {
  margin: 5px;
  text-align: left;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.carousel .thumb-content {
  padding: 15px;
  font-size: 13px;
}

.carousel .carousel-control {
  height: 44px;
  width: 44px;
  background: none;
  margin: auto 0;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel .carousel-control i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}

.carousel .carousel-control.left i {
  margin-left: -3px;
}

.carousel .carousel-control.right i {
  margin-right: -3px;
}

.carousel .carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px;
  border-color: transparent;
}

.carousel-indicators li {
  background: #ababab;
}

.carousel-indicators li.active {
  background: #555;
}
