#section {
  padding-bottom: 0;
  background-repeat: no-repeat;
  margin-top: 0;
  text-align: center;
  color: white;
  font-family: 'Nosifer', cursive;
}

<<<<<<< HEAD
#btn1 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin right: 10px;
  border-color: white;
  border-width: 5px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#btn2 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin right: 10px;
  border-color: white;
  border-width: 5px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#btn3 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin right: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#btn4 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin right: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#btn5 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin right: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

=======
>>>>>>> 138d82cf4f94231e267cbb851e66a231474886c2
#home img {
  width: 1200px;
  height: 600px;
}

body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

a {
  text-decoration: none;
}

img {
  width: 200px;
  height: 140px;
}

#top {
  font-family: 'Black Ops One', cursive;
  margin-left: 20%;
}

#myNav {
  font-family: 'Black Ops One', cursive;
}

#menu {
  font-family: 'Black Ops One', cursive;
}

img {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 2s;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

@-webkit-keyframes example {
  0% {
    background-color: none;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: none;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: none;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: none;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: none;
    left: 0px;
    top: 0px;
  }
}

@keyframes example {
  0% {
    background-color: none;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: none;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: none;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: none;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: none;
    left: 0px;
    top: 0px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box
}

/* Full-width input fields */

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */

input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

button {
  background-color: #66ff1a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

<<<<<<< HEAD
=======

>>>>>>> 138d82cf4f94231e267cbb851e66a231474886c2
.container {
  padding: 5px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 110%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: none;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
<<<<<<< HEAD
  #log {
    color: blue;
=======
  #log{
    color:blue;
>>>>>>> 138d82cf4f94231e267cbb851e66a231474886c2
  }
