.container {
  background-color: lightgray;
  align-content: center;
  width: 100%;
}
#contform {
  align-content: center;
  background-color: lightblue;
  float: center;
}
#contain {
  background-color: lightblue;
}
#subject {
  text-align: left;
}
#social {
  background-color: #5a5600;
  height: 425px;
  color: lightblue;
  width: 100%;
}
#email {
  background-color: #5a5600;
  height: 425px;
  color: lightblue;
}
#phone {
  background-color: lightblue;
  height: 425px;
  color: #5a5600;
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  text-align: center;
}
#cont {
  background-color: gray;
  height: 800px;
  background-image: url(../images/layout.jpg);
  background-attachment: fixed;
}
#soci {
  margin-top: 200px;
  padding-top: 0%;
}
#contain {
  width: 50%;
}
#filledForm {
  text-align: center;
}
#slide{
  background-image: url(../images/layout.jpg);
  padding-bottom: 40%;
  padding-top: 10%;
  background-repeat: no-repeat;
  margin: 0%;
}
#white{
  background-color: white;
  margin-left: 30%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}
#social {
  background-color: #5a5600;
}
#chats {
  text-align: center;
}
body {
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#head {
  font-family: Black Ops One;
  text-align: center;
}

#main {
  background-image: url("../images2/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1400px 700px;
}

#margin {
  margin-left: 170px;
}

.col-center {
  margin: 0 auto;
  float: none;
}

.carousel {
  margin: 30px auto 60px;
  padding: 0 80px;
}

.carousel .item {
  text-align: center;
  overflow: hidden;
}

.carousel .item h4 {
  font-family: Patrick Hand;
}

.carousel .item img {
  max-width: 100%;
  display: inline-block;
}

.carousel .item .btn {
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: red;
  padding: 6px 15px;
  margin-top: 5px;
}

.carousel .item .btn:hover {
  background: #8c5bff;
}

.carousel .item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.carousel .thumb-wrapper {
  margin: 5px;
  text-align: left;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.carousel .thumb-content {
  padding: 15px;
  font-size: 13px;
}

.carousel .carousel-control {
  height: 44px;
  width: 44px;
  background: none;
  margin: auto 0;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel .carousel-control i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}

.carousel .carousel-control.left i {
  margin-left: -3px;
}

.carousel .carousel-control.right i {
  margin-right: -3px;
}

.carousel .carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px;
  border-color: transparent;
}

.carousel-indicators li {
  background: #ababab;
}

.carousel-indicators li.active {
  background: #555;
}

#myNav {
  font-family: Black Ops One;
}
